html,
body {
  font-family: 'Tajawal', sans-serif !important;
}

.active-route a {
  background-color: #ccc;
  color: #406c75 !important;
}
.rs-form-control-wrapper {
  width: 100% !important;
}
.rdw-dropdown-carettoopen {
  right: auto !important;
  left: 10% !important;
}

.public-DraftStyleDefault-block public-DraftStyleDefault-ltr {
  min-height: 200px !important;
}

.echarts-for-react {
  min-height: 60vh !important;
}
